

body {
  background-color: antiquewhite;
  font-size: 16px;  
  width: 1440px;
}

.contenedor-principal {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 5px;
  color: white;

}

.descripcion {
  font-weight: bold;
}

img {
  width: 3rem;
  border-radius: 50%;
}

.contenedor-card-daniel {
  background-color: gray;
  grid-column: 1/span 4;
  grid-row: 1/span 1;
}

.contenedor-card-kira {
  background-color: blueviolet;
  grid-column: 5/span 4;
  grid-row: 1/span 1;
}
.contenedor-card-jonathan {
  background-color: blue;
  grid-column: 1/span 4;
  grid-row: 2/span 1;
}
  
.contenedor-card-jeanette {
  background-color: maroon;
  grid-column: 5/span 4;
  grid-row: 2/span 1;
}

.contenedor-card-patrick {
  background-color: crimson;
  grid-column: 9/span 4;
  grid-row: 1/span 2;
}

@media (max-width:360px) {
  .contenedor-principal{
    width: 350px;  
    display: flex;
    flex-direction: column;
  }
  .contenedor-card-daniel {
    grid-column: 1/span 3;
  }
    .titulo {
      text-align: center;
    }
    .descripcion{
      text-align: center;
      padding: 10px;
    }
    img {
      margin: 20px;
      border: 5px double white;
    }
}
  





  























